.form-signin
  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    h2.form-signin-heading Регистрация
    = devise_error_messages!

    = f.label :email, class: 'sr-only'
      | E-mail
    = f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'E-mail'

    = f.label :phone, class: 'sr-only'
      | Телефон
    = f.phone_field :phone, autofocus: true, class: 'form-control', placeholder: 'Телефон'

    br

    = f.label :surname, class: 'sr-only'
      | Фамилия
    = f.text_field :surname, autofocus: true, class: 'form-control', placeholder: 'Фамилия'

    = f.label :name, class: 'sr-only'
      | Имя
    = f.text_field :name, autofocus: true, class: 'form-control', placeholder: 'Имя'

    = f.label :patronymic, class: 'sr-only'
      | Отчество
    = f.text_field :patronymic, autofocus: true, class: 'form-control', placeholder: 'Отчество'

    br

    = f.label :password, class: 'sr-only'
      | Пароль
    = f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'Пароль'


    = f.label :password_confirmation, class: 'sr-only'
      | Повторите Пароль
    = f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder: 'Повторите Пароль'
    br
    = f.submit 'Зарегистрироваться', class: 'btn btn-lg btn-primary btn-block'

    = render 'devise/shared/links'