h1.page-header Панель управления

h2.sub-header Список выводов
.table-responsive
  .alert-warning = balance_error
  table.table.table-striped
    thead
      tr
        th #
        th Сумма
        th Состояние
        th Причина
        th Действия
    tbody
      - @withdrawals.each do |withdrawal|
        tr
          td = withdrawal.id
          td = withdrawal.sum
          td = withdrawal.state
          td = withdrawal.reason
          td
            - if withdrawal.new?
              = link_to withdrawal_gateways_path(sum: withdrawal.sum, withdrawal_id: withdrawal.to_param), method: :post
                .btn.btn-success Вывести деньги
            - else
              | Нет доступных действий