.form-signin
  .alert-warning = balance_error
  = form_for(@withdrawal) do |f|
    h2.form-signin-heading Вывод денег

    = f.label :sum, class: 'sr-only'
      | Сумма
    = f.number_field :sum, min: 1, autofocus: true, class: 'form-control', placeholder: 'Сумма'

    = f.label :reason, class: 'sr-only'
      | Пояснение
    = f.text_field :reason, min: 1, autofocus: true, class: 'form-control', placeholder: 'Пояснение'

    = f.hidden_field :user_id, value: @withdrawal.user_id


    br
    = f.submit 'Вывести', class: 'btn btn-lg btn-primary btn-block'