p#notice = notice

h2.sub-header Детали вывода средств
.table-responsive
  table.table.table-striped
    thead
      tr
        th #
        th Причина
        th Сумма
        th Состояние
    tbody
      tr
        td = @withdrawal.id
        td = @withdrawal.reason
        td = @withdrawal.sum
        td = @withdrawal.state

- if @withdrawal.new?
  h3 = "Чтобы имитировать ответ от сервера платежного шлюза нажмите кнопку"

  .form-signin
    = link_to withdrawal_gateways_path(sum: @withdrawal.sum, withdrawal_id: @withdrawal.to_param), method: :post
      .btn.btn-lg.btn-primary.btn-block Вывести деньги
