h1.page-header Панель управления

- if current_user.has_access_to_crm
  h2.sub-header Список пользователей
  .table-responsive
    table.table.table-striped
      thead
        tr
          th #
          th Фамилия
          th Имя
          th Отчество
          th E-mail
          th Телефон
          th Баланс
          th Действия
      tbody
        - @users.each do |user|
          tr
            td = user.id
            td = user.surname
            td = user.name
            td = user.patronymic
            td = user.email
            td = user.phone
            td = user.balance
            td
              = link_to 'Пополнить баланс', new_payment_path({user_id: user.id})
              br
              = link_to 'Вывести деньги', new_withdrawal_path({user_id: user.id})
- else
  h3.text-center.alert-warning У вас нет доступа в данный раздел.