.form-signin
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    h2.form-signin-heading Вход

    - flash.each do |key, value|
      .flash.alert-warning = value

    = f.label :email, class: 'sr-only'
      | E-mail
    = f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'E-mail'

    = f.label :password, class: 'sr-only'
      | Пароль
    = f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'Пароль'
    br
    = f.submit 'Войти', class: 'btn btn-lg btn-primary btn-block'

    = render 'devise/shared/links'