h1.page-header Панель управления

h2.sub-header Список пополнений
.table-responsive
  table.table.table-striped
    thead
      tr
        th #
        th Сумма
        th Платежный шлюз
        th Состояние
        th Причина
        th Действия
    tbody
      - @payments.each do |payment|
        tr
          td = payment.id
          td = payment.sum
          td = payment.gateway
          td = payment.state
          td = payment.reason
          td
            - if payment.new?
              = link_to payment_gateways_path(sum: payment.sum, payment_id: payment.to_param), method: :post
                .btn.btn-success Произвести оплату
            - else
              | Нет доступных действий
