.form-signin
  = form_for(@payment) do |f|
    h2.form-signin-heading Новый платеж

    = f.label :sum, class: 'sr-only'
      | Сумма
    = f.number_field :sum, min: 1, autofocus: true, class: 'form-control', placeholder: 'Сумма'

    = f.label :reason, class: 'sr-only'
      | Пояснение
    = f.text_field :reason, min: 1, autofocus: true, class: 'form-control', placeholder: 'Пояснение'

    = f.hidden_field :user_id, value: @payment.user_id


    br
    = f.submit 'Создать', class: 'btn btn-lg btn-primary btn-block'