p#notice = notice

h2.sub-header Детали платежа
.table-responsive
  table.table.table-striped
    thead
      tr
        th #
        th Платежный шлюз
        th Сумма
        th Состояние
    tbody
      tr
        td = @payment.id
        td = @payment.gateway
        td = @payment.sum
        td = @payment.state

- if @payment.new?
  h3 = "Чтобы имитировать ответ от сервера платежного шлюза нажмите кнопку"

  .form-signin
    = link_to payment_gateways_path(sum: @payment.sum, payment_id: @payment.to_param), method: :post
      .btn.btn-lg.btn-primary.btn-block Произвести оплату
