h1.page-header Панель управления

h2.sub-header Список транзакций
.table-responsive
  table.table.table-striped
    thead
      tr
        th #
        th Дебет
        th Кредит
        th Тема
        th Сумма
        th Состояние
    tbody
      - @transactions.each do |transaction|
        tr
          td = transaction.id
          td = transaction.debit.class
          td = transaction.credit.class
          td = transaction.subject.class
          td = transaction.sum
          td = transaction.state
