h2.sub-header Детали транзакции
.table-responsive
  table.table.table-striped
    thead
      tr
        th #
        th Дебет
        th Кредит
        th Тема
        th Сумма
        th Состояние
    tbody
      tr
        td = @transaction.id
        td = @transaction.debit.class
        td = @transaction.credit.class
        td = @transaction.subject.class
        td = @transaction.sum
        td = @transaction.state