- if current_user
  h2.text-center Добро пожаловать в панель управления
  h3.text-center  Выберите нужный пункт в меню
- else
  .form-signin
    = link_to new_session_path('user')
      .btn.btn-lg.btn-primary.btn-block Войти в систему