doctype html
html
  head
    title Sirena Test Work
    meta name="viewport" content="width=device-width, initial-scale=1.0"
    = stylesheet_link_tag    "application", media: 'all', 'data-turbolinks-track' => 'reload'
    = javascript_include_tag "application", 'data-turbolinks-track' => 'reload'
    = csrf_meta_tags

  body
    nav.navbar.navbar-inverse.navbar-fixed-top
      .container-fluid
        .navbar-header
          button.navbar-toggle.collapsed aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" type="button"
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          = link_to "Test work", root_path, class: 'navbar-brand'
        #navbar.navbar-collapse.collapse
          ul.nav.navbar-nav.navbar-right
            li class='#{'active' if current_page? new_session_path('user')}'
              - if current_user
                = link_to "Выход", destroy_user_session_path, :method => 'delete'
              - else
                = link_to "Вход", new_session_path('user')
          form.navbar-form.navbar-right
            - if current_user
              h5.text-primary = "#{current_user.email} Баланс: #{current_user.balance}"
    .container-fluid
      .row
        .col-sm-3.col-md-2.sidebar
          .row
            - if current_user
              ul.nav.nav-sidebar
                li class='#{'active' if current_page? users_path}'
                  - if current_user.has_access_to_crm
                    = link_to "Список всех пользователей", users_path
                li class='#{'active' if current_page? transactions_path}'
                  = link_to "Список транзакций", transactions_path
                li class='#{'active' if current_page? payments_path}'
                  = link_to "Список пополнений", payments_path
                li class='#{'active' if current_page? withdrawals_path}'
                  = link_to "Список выводов", withdrawals_path
                li class='#{'active' if current_page? new_payment_path}'
                  = link_to "Пополнить баланс", new_payment_path
                li class='#{'active' if current_page? new_withdrawal_path}'
                  = link_to "Вывести деньги", new_withdrawal_path
            - else
              p Доступ закрыт. Необходимо войти в систему
        .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
          = yield
